@import url("https://fonts.googleapis.com/css?family=Neucha");

body {
  font-family: "Neucha", cursive;
  background: #161616;
  background: radial-gradient(
      circle,
      rgba(70, 130, 180, 0.7),
      rgba(0, 0, 0, 0.5)
    ),
    linear-gradient(to bottom, seagreen, #161616);
  margin: 0;
  overflow: hidden;
}

h3 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: gainsboro;
  text-shadow: 2px 2px 0 #000;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
  animation: move 6s linear forwards;
}

h3 span {
  color: coral;
}

@media (max-width: 767px) {
  h3 {
    font-size: 2.6em;
  }
}

@keyframes move {
  50% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  to {
    transform: translateX(-50%) scale(0.8);
    top: 0;
  }
}

h4 {
  margin: 0;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: gainsboro;
  opacity: 0.6;
}

a {
  text-decoration: none;
  color: coral;
}

a:hover {
  filter: brightness(125%);
}

.slideshow {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  position: absolute;
  max-width: 90vw;
  max-height: 80vh;
  opacity: 0;
  animation: slideshow 144s ease-in-out infinite;
}

@keyframes slideshow {
  from {
    opacity: 0;
    filter: grayscale(100%);
  }

  5% {
    opacity: 1;
    filter: grayscale(50%);
  }

  10% {
    opacity: 1;
    filter: grayscale(0);
    transform: scale(1.1);
  }

  15% {
    opacity: 1;
    filter: blur(0);
  }

  20% {
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.9);
  }

  25% {
    opacity: 0;
  }
}

.slideshow .i_1 {
  animation-delay: 6s;
  transform: translateX(-100px) rotate(-3deg);
}

.slideshow .i_2 {
  animation-delay: 12s;
  transform: translateX(100px) rotate(3deg);
}

.slideshow .i_3 {
  animation-delay: 18s;
  transform: translateY(-100px) rotate(3deg);
}

.slideshow .i_4 {
  animation-delay: 24s;
  transform: translateY(100px) rotate(-3deg);
}

.slideshow .i_5 {
  animation-delay: 30s;
  transform: translateX(-100px) rotate(-3deg);
}

.slideshow .i_6 {
  animation-delay: 36s;
  transform: translateX(100px) rotate(3deg);
}

.slideshow .i_7 {
  animation-delay: 42s;
  transform: translateX(-100px) rotate(3deg);
}

.slideshow .i_8 {
  animation-delay: 48s;
  transform: translateX(100px) rotate(-3deg);
}

.slideshow .i_9 {
  animation-delay: 54s;
  transform: translateX(-100px) rotate(-3deg);
}

.slideshow .i_10 {
  animation-delay: 60s;
  transform: translateX(100px) rotate(3deg);
}

.slideshow .i_11 {
  animation-delay: 66s;
  transform: translateX(-100px) rotate(3deg);
}

.slideshow .i_12 {
  animation-delay: 72s;
  transform: translateX(100px) rotate(-3deg);
}

.slideshow .i_13 {
  animation-delay: 78s;
  transform: translateX(-100px) rotate(-3deg);
}

.slideshow .i_14 {
  animation-delay: 84s;
  transform: translateX(100px) rotate(3deg);
}

.slideshow .i_15 {
  animation-delay: 90s;
  transform: translateX(-100px) rotate(3deg);
}

.slideshow .i_16 {
  animation-delay: 96s;
  transform: translateX(100px) rotate(-3deg);
}

.slideshow .i_17 {
  animation-delay: 102s;
  transform: translateX(-100px) rotate(-3deg);
}

.slideshow .i_18 {
  animation-delay: 108s;
  transform: translateX(100px) rotate(3deg);
}

.slideshow .i_19 {
  animation-delay: 114s;
  transform: translateX(-100px) rotate(3deg);
}

.slideshow .i_20 {
  animation-delay: 120s;
  transform: translateX(100px) rotate(-3deg);
}

.slideshow .i_21 {
  animation-delay: 126s;
  transform: translateX(-100px) rotate(-3deg);
}

.slideshow .i_22 {
  animation-delay: 132s;
  transform: translateX(100px) rotate(3deg);
}

.slideshow .i_23 {
  animation-delay: 138s;
  transform: rotate(-6deg);
}

.slideshow .i_24 {
  animation-delay: 144s;
  transform: rotate(6deg);
}



/*p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e4e4e4;
  text-shadow: 0 0 1px #000;
  text-transform: uppercase;
  font-size: 2.8em;
  opacity: 0;
  animation: title 36s linear infinite;
}

p::first-letter {
  color: coral;
}

@media (max-width: 767px) {
  p {
    font-size: 2.4em;
  }
}

@keyframes title {
  from {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }
}

.slideshow .p_1 {
  animation-delay: 7s;
}

.slideshow .p_2 {
  animation-delay: 13s;
}

.slideshow .p_3 {
  animation-delay: 19s;
}

.slideshow .p_4 {
  animation-delay: 25s;
}

.slideshow .p_5 {
  animation-delay: 31s;
}

.slideshow .p_6 {
  animation-delay: 37s;
}

.slideshow .p_7 {
  animation-delay: 43s;
}

.slideshow .p_8 {
  animation-delay: 49s;
}

.slideshow .p_9 {
  animation-delay: 55s;
}

.slideshow .p_10 {
  animation-delay: 61s;
}

.slideshow .p_11 {
  animation-delay: 67s;
}

.slideshow .p_12 {
  animation-delay: 73s;
}

.slideshow .p_13 {
  animation-delay: 79s;
}

.slideshow .p_14 {
  animation-delay: 85s;
}

.slideshow .p_15 {
  animation-delay: 91s;
}

.slideshow .p_16 {
  animation-delay: 97s;
}

.slideshow .p_17 {
  animation-delay: 103s;
}

.slideshow .p_18 {
  animation-delay: 109s;
}

.slideshow .p_19 {
  animation-delay: 115s;
}

.slideshow .p_20 {
  animation-delay: 121s;
}

.slideshow .p_21 {
  animation-delay: 127s;
}

.slideshow .p_22 {
  animation-delay: 133s;
}

.slideshow .p_23 {
  animation-delay: 139s;
}

.slideshow .p_24 {
  animation-delay: 145s;
}

.slideshow .p_25 {
  animation-delay: 151s;
}
*/